@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    font-family: Rubik;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

.sidebarbutton {
    width: 4%;
    height: 100vh;
    text-align: center;
    background-color: rgb(241, 241, 239);
    border-right: 0.25px rgb(168, 164, 164) solid;
    z-index: 3;
    position: relative;
    opacity: 1;
    font-size: 100%;  
}

.sidebarbutton button {
    width: 100%;
    height: 7%;
    border: none;
    transition: background-color 0.5s ease;
    border-bottom: 0.5px rgb(204, 201, 201) solid;
    font-size: 150%;
    vertical-align: auto;
    position: relative;
    z-index: 3;
    opacity: 1;
    cursor: pointer;
}

.sidebarbutton img {
    width: 50%;
    height: auto;
    top: auto;
    bottom: auto;
}
.sidebar#inactive {
    position: fixed;
    left: -12.5%;
    transition: left 0.5s ease;
    z-index: 1;
}

.sidebar#active {
    transition: left 0.5s ease;
    position: fixed;
    left: 4%;
    z-index: 1;
}

.sidebarbutton button:hover {
    background-color: lightgrey;
}

.sidebar {
    background-color:rgb(250, 250, 250);
    text-align: center;
    height: 100%;
    width: 12.5%;
    border-right: 0.5px rgb(204, 201, 201) solid;
    font-size: 200%;
}

.sidebar button.subject-selector {
    width: 100%;
    position: sticky;
    height: 7%;
    border: none;
    border-bottom: 0.05px rgb(206, 202, 202) solid;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.5s ease; 
    font-size: 50%;
    
}
.sidebar .dropdownbuttons #subject {
    width: 100%;
    height: 50px;
    position: sticky;
    background-color:rgb(250, 250, 250);
    border: none;
    border-bottom: 0.05px rgb(206, 202, 202) solid;
    cursor: pointer;
}

.sidebar .dropdownbuttons #subject:hover {
    background-color: rgb(228, 228, 228);
}
.sidebar .dropdownbuttons#inactive {
    display: none;
}

.sidebar .dropdownbuttons#active {
    display: block;
}

.sidebar .dropdownbuttons {
    height: 2.5%;
}

.sidebar button.subject-selector:hover {
    background-color: rgb(228, 228, 228);
}

.maincontent {
    flex: 1;
    padding-top: 1%;
    text-align: center;
    left: 0px;
    font-size: 200%;
}

     
